Binaries
DerivedDataCache
Intermediate
Saved
Build
**/Geometry
**/Mannequin
**/ThirdPerson
**/ThirdPersonBP
**/LearningKit_Games
**/MilitaryWeapSilver
**/StarterContent

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace